a {
    text-decoration: none;
    color: lightgreen;
}

body {
    background-color: rgb(40, 40, 40);
    color: #AAAAAA;
    font-family: 'Play', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
}

h1 {
    padding-bottom: 20px;
}

h2 {

}

h3 {
    color: lightgreen;
}

hr {
    position: relative;
    bottom: 15px;
}


nav > a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #FFFFFF; 
    padding-right: 5px; 
}

nav > a:active {
    color: lightgreen;
}

nav {
    background-color: #616161;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    bottom: 75px;
    opacity: 0.8;
}

footer {
    background-color: #616161;
    color: black;
    text-align: left;
    font-size: 0.4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-top: 4px;
}

#addressdetails {
    line-height: 4px;
}

#addressinfo {
    background-color: #616161;
    border-radius: 10px;
    padding: 2px 2px 47px 20px;
    /* color: white; */
    position: relative;
    bottom: 40px;
}

#addressinfoh3 {
    color: lightgreen;
    font-size: 2.5em;
}

#contactheading {
    color: lightgreen;
    font-size: 2em;
}

#contactinfo {
    line-height: 0.5px;
}

#email {
    text-decoration: none;
    color: #C7C7C7;
}

#firstname {
    color: #616161;
}

#gearimage {
    float: right;
    border-radius: 10px;
}

#surname {
    color: black;
}

#smallheadingtext {
    font-size: 0.3em;
}

.nav:hover {
    color: lightgreen;
}